@CHARSET "UTF-8";

/* hide mobile menu when with desktop */
@media screen and (min-width: 767px){
.slideup {
	display: none;	
}

div.mob_container {
	display: none;
}

#navi{
	display: none;
}

div.report{
	padding: 5% 30%; 
	background: #b7b7b7;
	background: -webkit-linear-gradient(#b7b7b7, #fff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#b7b7b7, #fff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#b7b7b7, #fff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#b7b7b7, #fff); /* Standard syntax (must be last) */
	font-size: 120%;
}

div.report_paper{
	 width: 100%; 
	 background: white; 
	 padding: 3%;
}

}

/* mobile */
@media screen and (max-width: 767px){

/* report form*/
.report{
	padding: 7%;
	font-size: 120%;
}
.form-control{
	width: 200px
}

#mobtem{
	width: 100%;
}

/* cover image of mobile main page */
.slideup {
    position:relative;
    background-image: url('../image/img.jpg');
    width: 100%;
    height: 100%;
    float: left;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
   	font-size: 47px;
    font-family: 'Lato-Italic';
    line-height: 1.1em;
    color: #FFFFFF;
    padding-top: 110%;
    padding-left: 7%;
}

div.mob_container{
	background-color: #e6f0e8;
	position: relative;
	width: 100%;
	height: 58%;
	padding-top: 20px;
	padding-bottom: 12px;
	border-bottom: solid #C9C9C9 2px;
}

/* navigation menu */
#navi{
	background-color: #ffffff;
	padding:0;
	width:100%;
	margin-top:10px;
	margin-bottom:10px;
}
#navi h2{
	margin: 3px;
	padding: 0;
}
#navi h2 a{
	display: block;
	font-weight: lighter;
	text-decoration: none;
	margin-top: 0px;
	margin-bottom: 3px;
	margin-left:10px;
	margin-right:10px;
	padding: 13px;
	font-family:"Lato-Regular";
	font-size: 14px;
	color: #ffffff;
	background-color: #0e691f;
}
p.dotted{
	border-style: dotted;
	border-color: e0e3da;
}

div.mob_container img{
	display: block;
	margin-left: 1%;
	margin-right: auto;
}
.cabecera_movil{
	width: 100%;
	height: auto;
	border-bottom: solid #C9C9C9 2px;
	padding-top: 5px;
	padding-bottom: 5px;
}


#infobox, #infobox ul, #infobox ul li, #infobox ul li a{
	margin:0;
	padding:0;
	line-height:1;
	flex: 3;
}
#infobox > ul{
	display:block;
	postion:relative;
	list-style:none;
}
#infobox > ul li{
	display:block;
	position:relative;
}
#infobox > ul li a{
	font-family:"Lato-Regular";
	display:block;
	postion:relative;
	margin:0;
	border-bottom:1px solid #C9C9C9;
	padding:20px 20px;
	color:#353535;
	text-decoration:none;
	font-size:15px;
	background: #d9e3db;
	}
#infobox > ul li ul{
	font-family:"Lato-Regular";
	padding: 10px 20px;
}

.detail{
	color:#FFFFFF;
	background: #2b6e4c;
	border-bottom:1px solid #C9C9C9;
}
#infobox{
	border-bottom: 1px solid #C9C9C9;
	padding: 13px 4px;
}

.title{
	font-family: 'Chunkfive';
	margin-top: 10px;
	margin-bottom: 15px;
	padding: 5px;
	color: #0e691f;
	font-size: 22px;
	border-bottom: 1px solid #C9C9C9;
}

/* animation of mobile main page */
#div1 {
	width: 100%;
    height: 43%;
    position: relative;
    background-repeat:no-repeat;
}
.div1move {
	width: 100%;
    height: 43%;
    position: relative;
    background-repeat:no-repeat;
    -webkit-animation: mymove2 0.5s; /* Safari 4.0 - 8.0 */
    animation: mymove2 0.5s;
}
#div3 {
	font-size: 160%;
	opacity: 0.7;
	position: relative;
	background-color: black;
    color: #FFFFFF;
    padding: 6%;
    margin-top: 8%;
	margin-left: 45%;
    width: 55%;
    height: 120%;
    font-weight: lighter;
    position: relative;
}
.div3move {
	font-size: 180%;
	opacity: 0.7;
	position: relative;
	background-color: black;

    color: #FFFFFF;
    padding: 5%;
    margin-top: 8%;
	margin-left: 36%;
    width: 67%;
    height: 120%;
    font-weight: bold;
    position: relative;
    -webkit-animation: mymove1 0.5s; /* Safari 4.0 - 8.0 */
    animation: mymove1 0.5s;
}
    

/* Safari 4.0 - 8.0 */
#div2 {-webkit-animation-timing-function: ease;}
#div3 {-webkit-animation-timing-function: ease-in;}
#div4 {-webkit-animation-timing-function: ease-out;}
#div5 {-webkit-animation-timing-function: ease-in-out;}

/* Standard syntax */
#div2 {animation-timing-function: ease;}
#div3 {animation-timing-function: ease-in;}
#div4 {animation-timing-function: ease-out;}
#div5 {animation-timing-function: ease-in-out;}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove1 {
    from {left: 400px;}
    to {left: 0px;}
}

@-webkit-keyframes mymove2 {
    from {left: 350px;}
    to {left: 0px;}
}


/* Standard syntax */
@keyframes mymove1 {
    from {left: 400px;}
    to {left: 0px;}
}

@keyframes mymove2 {
    from {left: 350px;}
    to {left: 0px;}
}
}