/*template css*/

/*media queries

	escritorio normal
	@media (max-width: 1199px) {
			...
		}

	tablet
	@media (max-width: 991px) {
		...
	}

	celular
	@media (max-width: 767px) {
		...
	}
*/


/*importando tipografías*/
@font-face {
    font-family: 'Edwardian';
    src: url('../fonts/EdwardianScriptITC.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Chunkfive';
    src: url('../fonts/Chunkfive.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato-Italic';
    src: url('../fonts/Lato-Italic.ttf');
	font-weight: normal;
    font-style: italic;

}
@font-face {
    font-family: 'Lato-BoldItalic';
    src: url('../fonts/Lato-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;

}
@font-face {
    font-family: 'Lato-Bold';
    src: url('../fonts/Lato-Bold.ttf');
	font-weight: bold;
    font-style: normal;
}
@font-face {
	font-family:"Lato-Regular";
	src: url("../fonts/Lato-Regular.eot") format("eot"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato-Regular.svg#Lato-Regular") format("svg");
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family: 'MyriadPro-Regular';
	src: url('../fonts/MYRIADPROREGULAR.eot');
	src: local('MYRIADPROREGULAR'), url('../fonts/MYRIADPROREGULAR.woff') format('woff'), url('../fonts/MYRIADPROREGULAR.ttf') format('truetype');  
	font-weight: normal;
	font-style: normal;
}

/*css general*/
body{
	margin:0 auto; 
	padding:0;
	color:#353535;
	background: #FFF;
	font-family: "Lato-Regular";
}
a:focus, *:focus{ outline:none; _noFocusLine: expression(this.hideFocus=true); text-decoration: none; }
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color:transparent;
}
.clr1{
	display: table;
	height: 30px;
}
.clr2{
	display: table;
	height: 20px;
}
.clr3{
	display: table;
	height: 50px;
}
.clr4{
	display: table;
	height: 10px;
}
a:visited{
	text-decoration: underline;
}
/*cabecera*/
.cabecera{
	height: 100px;
	margin-top: 25px;
	margin-bottom: 25px;
}
.form-control{
	width:225px
}
/*identidad país*/
.repDom{
	background: url(../image/repDom.png) no-repeat left;
	padding-left: 30px;
	font-size: 28px;
	color: #000;
	float: right;
	font-family: "Edwardian";
}
@media (max-width: 992px) {
	.repDom{
		font-size: 27px;
	}
}
@media (max-width: 767px) {
	.repDom{
		float: left;
		font-size: 26px;
	}
	.cabecera{
		height: auto;
		margin:0;
		padding-top: 5px;
		padding-bottom: 5px;
		border-bottom: solid #C9C9C9 2px;
	}
}
/*buscador*/
.buscador{
	float: right;
	margin-top: 4px;
}
	.buscador *{
		margin: 0;
	}
	.buscador input[type="text"],
	.buscador button.button{
		float: right;
	}
	.buscador input[type="text"],
	form#searchForm input[type="text"]{
		width: 194px;
		height: 28px;
		line-height: 28px;
		border-style: solid;
		border-width: 3px;
		padding:0 8px;
		font-size: 14px;
		color: #000;
		font-style: italic;
	}
	form#searchForm label{
		display: inline-block;
	}
	form#searchForm .ordering-box{
		position: relative;
		top: 8px;
	}
	@media (max-width: 992px) {
		.buscador input[type="text"]{
			width:188px;
		}
	}
	.buscador button.button,
	form#searchForm button{
		height: 28px;
		width: 28px;
		font-size: 16px;
		color: #fff;
		border: 0;
		margin:0;
		padding:0 3px 0 0;
	}
	form#searchForm input[type="text"]{
		width: 100%;
		margin-top: 0;

	}
	form#searchForm input[type="text"],
	form#searchForm button{
		float: left;
	}
	form#searchForm button{
		width: 100%;
	}
	form#searchForm .campoBuscador{
		padding-right: 0;
	}
	form#searchForm fieldset label{
		margin-left: 20px;
		font-weight: normal;
	}
	form#searchForm h3{
		font-family: "Lato-Regular";
		font-size: 16px;
		line-height: 22px;
		font-weight: bold;
		margin-top: 0;
		margin-bottom: 0;
	}
	form#searchForm .searchintro{
		margin-top: 5px;
	}
	form#searchForm .searchintro > p > strong{
		font-weight: normal;
	}
	.search-results .resultadoBusqueda{
		border-top:solid #C9C9C9 1px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.search-results .resultadoBusqueda:first-child{
		border-top: 0;
	}
	.search-results .resultadoBusqueda:nth-child(even){
		background: #F0F0F0;
	}
	@media (max-width: 767px) {
		form#searchForm .campoBuscador{
			padding-right: 15px;
		}
		.mobileSearch button{
			display: none;
		}
		.buscador.mobileSearch{
			width: 100%;
			margin-bottom: 5px;
		}
		.buscador.mobileSearch input[type="text"]{
			width: 100%;
		}
		form#searchForm label{
		display: block;
		}
		form#searchForm .ordering-box{
			position: relative;
			top: 0;
			margin-bottom: 15px;
		}
		form#searchForm div.pull-left{
			float:none;
			clear: both;
		}
	}
/*menú de navegación facil*/
.menu-navegacion-facil{
	float: right;
	margin-top: 8px;
	height: 3px;
	width: 231px;
}
	.menu-navegacion-facil .menu > li{
		list-style: none;
		display: inline-block;

	}
	.menu-navegacion-facil .menu > li,
	.menu-navegacion-facil .menu > li a{
		height: 15px;
		line-height: 15px;
		color: #2D2D2D;
	}
	.menu-navegacion-facil .menu > li{
		border-right: solid #2D2D2D 1px;
	}
	.menu-navegacion-facil .menu > li a{
		margin:0;
		padding-top: 0;
		padding-bottom: 0;
		padding-left: 9px;
		padding-right: 12px;
	}
	.menu-navegacion-facil .menu > li a:hover{
		background: none;
		text-decoration: underline;
	}
	@media (max-width: 992px) {
		.menu-navegacion-facil .menu > li a{
			padding:0 9px;
		}
	}
	.menu-navegacion-facil .menu > li:last-child{
		border: 0;
	}
	.menu-navegacion-facil .menu > li:last-child a{
		padding-right: 0;
	}
/*Menu principal*/
.menu-principal{
	width: 100%;
	height: 55px;
	border-bottom: solid #C9C9C9 3px;
}
	div.menu-principal div.menu{
		margin: 0;
		padding: 0;
	}
	.menu-principal .menu > li{
		list-style: none;
		display: inline-block;
		margin: 0 1px 0 0;
	}
	.menu-principal .menu > li:last-child{
		margin: 0;
	}
	.menu-principal .menu > li,
	.menu-principal .menu > li a{
		color: #fff;
		text-transform: uppercase;
		font-size: 14px;
	}
	.menu-principal .menu > li a{
		display: block;
		padding: 16.5px 20px;
	}
	.menu-principal .menu > li.active a,
	.menu-principal .menu > li:hover a{
		background: rgba(0, 0, 0, 0.2);
		transition: background .3s;
		-moz-transition: background 0.3s; /* Firefox 4 */
		-webkit-transition: background 0.3s; /* Safari and Chrome */
		-o-transition: background 0.3s; /* Opera */
	}
	.menu-principal .menu > li > ul{
		width: 250px;
		visibility:hidden;
		opacity:0;
		transition:visibility 0s linear 0.3s,opacity 0.3s linear;
		-moz-transition: visibility 0s linear 0.3s,opacity 0.3s linear;; /* Firefox 4 */
		-webkit-transition: visibility 0s linear 0.3s,opacity 0.3s linear;; /* Safari and Chrome */
		-o-transition: visibility 0s linear 0.3s,opacity 0.3s linear;; /* Opera */
		position: absolute;
		padding: 0;
		margin: 0;
		z-index: 5;
	}
	.menu-principal .menu > li > ul > li{
		list-style: none;
		display: block;
	}
	.menu-principal .menu > li > ul > li > a:hover{
		text-decoration: none;
		background: none;
	}
	.menu-principal .menu > li > ul > li > a{
		border-top-width: 1px;
		border-top-style: solid;
	}
	.menu-principal .menu > li:hover > ul{
		visibility:visible;
		opacity:1;
		transition-delay:0s;
	}
	.menu-principal .menu > li.active ul > li.active a{
		background: none;
	}
	.parentSign{
		font-size: 6px;
	}
	.parentSign .glyphicon{
		margin-left: 5px;
		transform : rotate(90deg);
		-moz-transform : rotate(90deg); /* Firefox */
		-webkit-transform : rotate(90deg); /* Chrome - Safari */
		-o-transform : rotate(90deg); /* Opera */
	}
/*modulos portada*/
.custom2{
	width: 100%;
	height: auto;
	border-bottom: solid #C9C9C9 3px;
}
/*pie de pagina*/	
.footer{
	padding-top: 25px;
	padding-bottom: 25px;
	color: #2D2D2D;
	font-size: 12px;
}
	.borderFooter{
		width: 100%;
		height: 3px;
		display: block;
		clear: both;
		position: relative;
		top: -3px;
		z-index: 1;
	}
	.footer .identidad{
		width: auto;
		display: table;
		margin: 0 auto;
	}
	.footer .identidad > li{
		width: 67px;
		height: 67px;
		list-style: none;
		display: inline-block;	
	}
	.footer .identidad > li > img{
		vertical-align: baseline;
	}
	.footer .identidad > li.separador{
		width: 3px;
		background: #C9C9C9;
		margin: 0 20px;
	}
	.selloNortic{
		/*text-align: right;*/
	}
	.selloNortic > span{
		position: absolute;
		right: 0;
		margin-right: 15px;
	}
	.footer p{
		text-align: center;
		margin-bottom: 2px;
	}
	.footer p:first-child{
		margin-top: 20px;
	}
	.footer p > a.nombreOrganismo{
		text-transform: uppercase;
		font-weight: bold;
	}
	.footer .menu{
		width: auto;
		display: table;
		margin: 0 auto;
	}
	.footer .menu > li{
		list-style: none;
		display: inline-block;
		border-right: solid #575757 1px;
	}
	.footer .menu > li:last-child{
		border:0;
	}
	.footer .menu > li > a{
		margin:0;
		padding: 0 7px;
	}
	.footer .menu > li > a:hover{
		background: none;
		text-decoration: underline;
	}
	.footer .glyphicon{
		transform : rotate(180deg);
		-moz-transform : rotate(180deg); /* Firefox */
		-webkit-transform : rotate(180deg); /* Chrome - Safari */
		-o-transform : rotate(180deg); /* Opera */
		color: #fff;
		font-size: 16px;
		margin-right: 5px;
	}
	.footer .subir{
		color: #fff;
		font-size: 12px;
		padding: 7px 16px;
	}
	.footer .boton{
		margin: 10px 0;
	}
	.footer .subir:hover{
		color: #fff;
		text-decoration: none;
	}
	@media (max-width: 767px) {
		.footer{
			padding-top: 15px;
			padding-bottom: 17px;
		}
		.footer p:first-child {
		margin-top:0;
		}
		.menuLegalFooter{
			visibility: hidden;
		}
	}
/*paginacion*/	
ul.pagination{
	width: auto;
	display: table;
	margin: 20px auto;
}
ul.pagination > li > a > i{
	padding: 3px 0;
	position: relative;
	top:0;
}
/*rastro de navegacion*/
.rastro_navegacion{
	width: 100%;
	height: auto;
	border-bottom: solid #C9C9C9 3px;
	background: #F0F0F0;
	padding: 5px 0;
}
.rastro_navegacion .breadcrumb{
	background: none;
	margin:0;
}
/*contenido*/
.contenido{
	width: 100%;
	height: auto;
	padding-top: 25px;
	padding-bottom: 25px;
}
	.contenido h1.title,
	.contenido h3#custom1h3{
		font-family: "Chunkfive";
		text-transform: uppercase;
		font-size: 21px;
		font-weight: normal;
		border-bottom: solid #C9C9C9 2px;
		margin-top: 0;
		margin-bottom: 15px;
		padding-bottom: 7px;
	}
	.contenido h3#custom1h3{		
	}
	.contenido ol > li{
		margin-bottom: 10px;
	}
	.contenido #yoo-zoo .item .contenidoFull h1,
	.contenido #yoo-zoo .item .contenidoFull h2,
	.contenido #yoo-zoo .item .contenidoFull h3{
		font-family: "Lato-Regular";
		font-size: 16px;
		line-height: 22px;
		font-weight: bold;
	}
	.contenido #yoo-zoo .item .contenidoFull h1{
		font-size: 20px;
	}
	.contenido #yoo-zoo .item .contenidoFull h2{
		font-size: 18px;
	}
	.contenido #yoo-zoo .item .contenidoFull li{
		margin-left: 10px;
	}
	.contenidoFull img{
		padding: 2px;
		background: #fff;
		border:solid #C9C9C9 1px;
		display: block;
		margin: 0 10px 10px 0;
	}
	@media (max-width: 767px) {
		.contenido .panel_derecho h3#custom1h3{
			border-top: solid #C9C9C9 2px;
			margin-top: 15px;
			margin-bottom: 15px;
			padding-bottom: 7px;
			padding-top: 9px;
		}
	}
/*Cabecera movil*/
.cabecera_movil{
	width: 100%;
	height: auto;
	border-bottom: solid #C9C9C9 2px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.cabecera_movil .menu_movil_boton > a > span{
	font-size: 28px;
	line-height: 35px;
}

/*menu movil*/
.menu_movil ul.menu{

}
.menu_movil ul.menu > li{
	margin-bottom: 2px;
}
.menu_movil ul.menu > li a{
	color: #fff;
	text-transform: uppercase;
	padding: 10px 15px;
}
.menu_movil ul.menu > li:hover a,
.menu_movil ul.menu > li.active a{	
	background: rgba(0, 0, 0, 0.2);
	transition: background .3s;
	-moz-transition: background 0.3s; /* Firefox 4 */
	-webkit-transition: background 0.3s; /* Safari and Chrome */
	-o-transition: background 0.3s; /* Opera */
}
.menu_movil ul.menu > li.parent > ul > li{
	list-style: none;
	display: block;
	margin-bottom: 2px;
}
.menu_movil ul.menu > li.parent > ul > li > a{
	display: block;
	padding-left: 25px;
}
.menu_movil ul.menu > li.parent > ul{
	margin-top: 2px;
	margin-left:0;
	padding-left: 0;
}
.menu_movil ul.menu > li.parent > ul > li:last-child{
	margin-bottom: 0;
}
.menu_movil ul.menu > li.parent > ul > li:hover a{
	background: rgba(0, 0, 0, 0);
	text-decoration: none;
}
.menu_movil ul.menu > li.parent > ul > li > a:before {
	content: "- ";
}
/*Sello mobile*/
.selloMobile a span{
	display: block;
}
/*Panel derecho*/
.panel_derecho .menu li{
	margin-bottom: 1px;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
}
.panel_derecho .menu li > a{
	color: #fff;
}
.panel_derecho .menu li.active > a,
.panel_derecho .menu li.current > a,
.panel_derecho .menu li > a:hover{
	background: rgba(0, 0, 0, 0.2);
	transition: background .3s;
	-moz-transition: background 0.3s; /* Firefox 4 */
	-webkit-transition: background 0.3s; /* Safari and Chrome */
	-o-transition: background 0.3s; /* Opera */
}
/*modulo mapa de sitio*/
.est-mapa_de_sitio ul.menu{
	margin: 0;
	padding: 0;
	left: 0;
}
.est-mapa_de_sitio ul.menu li{
	display: block;
	font-size: 14px;
}
.est-mapa_de_sitio ul.menu li a,
.est-mapa_de_sitio ul.menu li a:hover{
	margin: 0;
	padding: 0;
	background: none;
}
/*tools*/
.tools span{ 
	font-size: 16px;
	color: #777;
}

